.footer {
  flex-grow: 1;
  min-height: 250px;
  // margin-bottom: 90px;
  overflow: hidden;
  margin-top: 77px;
  margin-bottom: -20px;
  transform: translateY(-77px);

  &_camera {
    height: 500px;
  }
}

.table {
  margin-top: 5px;
  padding: 0 20px;
  height: 80%;
}

.tpi-content {
  padding: 20px;
}

.tpi-info {
  color: green;
  margin-bottom: 10px;
}

.tpi-message {
  color: #fff;
  font-weight: 600;
  max-width: 70%;
  max-height: 150px;
  font-size: 20px;

  h2 {
    margin: 0;
    margin-bottom: 10px;
  }
}

.state {
  border-radius: 40px;
  width: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 2px;

  &_approve {
    background-color: green;
  }

  &_rejected {
    background-color: red;
  }
}

.chip {
  color: white !important;
  min-width: 150px;
}
