.wrapper {
  height: 100%;
  min-height: 100vh;
  background-color: #ededed;
  padding-bottom: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 30px;
}

.content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.table{
  padding-bottom: 55px;
}

.table-header {
  :global(.MuiDataGrid-colCellTitle) {
    font-weight: bold !important;
  }
}

.dialog {
  padding: 20px;
  width: 550px;
}

