.title {
  font-weight: 600;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  height: calc(100% - 60px);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fields {
  display: flex;
}

.aligning {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  font-size: 11px;
  margin-right: 40px;
}

.input {
  width: 31%;
  margin-bottom: 15px !important;
}

.textarea {
  width: 100%;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: orange;

  &-title {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.decoration {
  display: flex;
  align-items: flex-end;
  height: 50px;

  &-box {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    margin-left: 10px;
    font-weight: 600;
    width: 20px;
    text-align: center;
  }
}
