.success{
  background: green !important;
}

.danger{
  background: darkred !important;
}

.unknown{
  background: grey !important;
}

.warning{
  background: orange !important;
}

.offline{
  background: purple !important;
}
