.drawer {
  &-item {
    width: 400px;
    background-color: #424242 !important;
    color: #fff !important;
  }
}

.menu-item {
  span {
    font-weight: 600 !important;
    color: #fff !important;
  }
}
